* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;
}
img {
    display: block;
}
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:active {text-decoration: none;}
a:hover {text-decoration: none;}
ul {
    list-style: none;
}

:root {
    --main-purple-light: #fb4bc9;
    --main-purple-dark: #3d135f;
    --sec-blue-light: #53cef7;
    --sec-blue-dark: #0d0918;
}



.d-flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.just-ctr {
    justify-content: center;
}
.just-bt {
    justify-content: space-between;
}
.just-start {
    justify-content: flex-start;
}
.just-end {
    justify-content: flex-end;
}
.align-ctr {
    align-items: center;
}
.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.content-start {
    align-content: flex-start;
}
.content-end {
    align-content: flex-end;
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.mt-5 {
    margin-top: 5px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-40 {
    margin-top: 40px;
}
.mx-20 {
    margin-left: 20px;
    margin-right: 20px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.text-ctr {
    text-align: center;
}
.text-r {
    text-align: right;
}
.text-cap {
    text-transform: capitalize;
}

.rounded {
    border-radius: 20px;
}
.rounded-top {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.rounded-bottom {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}
.row {
    display: flex;
}
.col-P1,
.col-P2 {
    padding-left: 10px;
    padding-right: 10px;
}
.col-P1 {
    width: 70%;
}
.col-P2 {
    width: 30%;
}

/********/

header {
    background-color: var(--main-purple-dark);
    color: white;
    height: 70px;
    font-size: 40px;
}
nav {
    height: 100%;
}
nav > div {
    height: 100%;
    line-height: 70px;
    padding-left: 10px;
    padding-right: 10px;
}

#hero {
    background-color: var(--sec-blue-light);
}
#hero img {
    width: 100%;
}
.download-btn {
    padding: 15px 20px;
    background-color: var(--main-purple-light);
    color: black;

    transition: background-color 0.5s ease, color 0.5s ease;
}
.download-btn:hover {
    background-color: var(--main-purple-dark);
    color: white;
}

#info {
    background-color: var(--main-purple-light);
    color: white;
}
#info img {
    width: 50%;
    margin-left: calc(-75px / 2);
}



.sign-card {
    max-width: 150px;
    width: calc((100% / 6) - 10px);
    aspect-ratio: 1 / 1;
    background-color: var(--main-purple-light);
    margin: 5px;
    padding: 10px;

    position: relative;
    overflow: hidden;

    /*transition: background-color 0.5s ease;*/
}
.sign-img {
    height: 50%;
    position: relative;
    z-index: 12;
}
.sign-img img {
    max-height: 50px;
    max-width: 50px;
}
/*.sign-card-img {
    transition: filter 0.5s ease;
}*/
.sign-card-txt {
    background-color: var(--main-purple-light);
    padding: 0 5px;
    margin-top: 7px;

    position: relative;
    z-index: 11;

    /*transition: background-color 0.5s ease, color 0.5s ease;*/
}

.sign-card-border-top {
    height: 67%;
    width: 90%;

    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    border-bottom: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}
.sign-card-border-bottom {
    height: 20%;
    width: 90%;

    position: absolute;
    bottom: -6%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

/*.sign-card:hover {
    background-color: var(--main-purple-dark);
}
.sign-card:hover .sign-card-img {
    filter: invert(1);
}
.sign-card:hover .sign-card-txt {
    background-color: var(--main-purple-dark);
    color: white;
}*/



#bonus {
    background-color: var(--sec-blue-light);
}
#bonus > .container div:nth-child(2) {
    display: none;
}

footer {
    height: 70px;
    background-color: var(--main-purple-dark);
    color: white;
}
footer a {
    color: white;
}



/************************************************
    MEDIA QUERY
************************************************/

@media screen and (max-width: 1140px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    .sign-card {
        width: calc((100% / 3) - 10px);
    }
    #bonus > .container div:nth-child(1) {
        display: none;
    }
    #bonus > .container div:nth-child(2) {
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .container,
    .col-P1,
    .col-P2 {
        width: 100%;
    }
    .row {
        flex-wrap: wrap;
    }
    #hero .col-P2 {
        margin-top: 40px;
    }
    #hero .col-P1 > div > div {
        text-align: center;
    }
    #info .col-P2 > div {
        justify-content: center;
        margin-right: calc(75px / 2);
    }
    #info .col-P1 {
        margin-top: 20px;
    }
}