* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Rubik', sans-serif;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
*::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
}
img {
    display: block;
}
:root {
    --main-purple-light: #fb4bc9;
    --main-purple-dark: #3d135f;
    --sec-blue-light: #53cef7;
    --sec-blue-dark: #0d0918;
}

#container {
    height: 100vh;
    width: 100%;

    background-image: url('../assets/starway-full-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}